<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ibf/css/remove.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'ibf/css/style.css' %}" />
        <title>IBF</title>
    </head>
    <body>
<body>
    <header>
        <h2>Seja Bem-vindo</h2>
        <h1>Instituto Biblico Fé</h1>
    </header>

    <nav>
        <a href="index.html">Início</a> |
        <a href="#cursos">Cursos</a> |
        <a href="#contato">Contato</a> |
        <a href="#cursos">Nossos Cursos</a> |
        <a href="#historia">Nossa História</a> |
        <a href="login.html">Login</a>
    </nav>

    <main>
        <section id="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GJTN14LOVts?si=zSDWOAzwhNVBi2i1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
    </main>

    <footer>
        <p>© 2024 Instituto Biblico Fé</p>
    </footer>
</body>
</html>
