<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="remove.css">
    <link rel="stylesheet" href="style.css">
    <title>IBF</title>
</head>
<body>
    <header>
        <h2>Seja Bem-vindo</h2>
        <h1>Instituto Biblico Fé</h1>
    </header>

    <nav>
        <a href="index.html">Início</a> |
        <a href="#cursos">Cursos</a> |
        <a href="#contato">Contato</a> |
        <a href="#cursos">Nossos Cursos</a> |
        <a href="#historia">Nossa História</a> |
        <a href="login.html">Login</a>
    </nav>

    <main>
        <section id="login">
            <h2>Login</h2>
            <form id="loginForm" action="/login" method="post">
                <label for="username">Usuário:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Senha:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Entrar">
            </form>
        </section>
    </main>

    <footer>
        <p>© 2024 Instituto Biblico Fé</p>
    </footer>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
    
            if (username === 'admin' && password === 'admin') {
                event.preventDefault();
                window.location.href = 'Logado.html';
            }
        });
    </script>
</body>
</html>